<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}控制台{% endblock %}</title>
    <!-- Favicon icon -->
    <link rel="icon" href="/assets/adminty/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/icofont/css/icofont.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/ion-icon/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/feather/css/feather.css">
    <!-- Syntax highlighter Prism css -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/pages/prism/prism.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/css/jquery.mCustomScrollbar.css">
    <!--foo table Grid-->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/pages/foo-table/css/footable.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/pages/foo-table/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/pages/foo-table/css/footable.standalone.min.css">
    <!-- Dropzone -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"
            integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.css"
          integrity="sha512-CmjeEOiBCtxpzzfuT2remy8NP++fmHRxR3LnsdQhVXzA3QqRMaJ3heF9zOB+c1lCWSwZkzSOWfTn1CdqgkW3EQ=="
          crossorigin="anonymous" />
    <!-- ace.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.min.js"
            integrity="sha512-GoORoNnxst42zE3rYPj4bNBm0Q6ZRXKNH2D9nEmNvVF/z24ywVnijAWVi/09iBiVDQVf3UlZHpzhAJIdd9BXqw=="
            crossorigin="anonymous"></script>
    {% include "includes/fonts/noto-sans.html.twig" %}
    {% include "includes/fonts/noto-sans-tc.html.twig" %}
    <style>
        body {
            font-family: "Noto Sans", "Noto Sans CJK TC", serif}
    </style>
    <script src="{{ asset("build/admin.js") }}"></script>
    <link rel="stylesheet" href="{{ asset("build/admin.css") }}"></link>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% include "app/admin/components/pre-loader.html.twig" %}
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">

                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="javascript:void(0)">
                        <i class="feather icon-menu"></i>
                    </a>
                    <a href="{{ url('app.admin.index') }}">
                        <img class="img-fluid" src="/assets/adminty/assets/images/logo.png" alt="Admin Panel Logo"/>
                    </a>
                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>

                <div class="navbar-container">
                    <ul class="nav-left">
                        {% block search %}{% endblock %}
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                <i class="full-screen feather icon-maximize"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{ gravatar(app.user.getEmail() | default("noemail@gmail.com")) }}" class="img-radius"
                                         alt="User-Profile-Image">
                                    <span>{{ app.user.getUsername() }}</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu"
                                    data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li style="cursor: pointer"
                                        onclick="window.location = '{{ url("app.admin.users.fetch", {'uuid': app.user.getUuid()}) }}'">
                                        <i class="feather icon-user"></i> Profile
                                    </li>
                                    <li style="cursor: pointer"
                                        onclick="window.location = '{{ url('app.auth.logout') }}'">
                                        <i class="feather icon-log-out"></i> Logout
                                    </li>
                                </ul>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <!-- Start of sidebar -->
                <nav class="pcoded-navbar">
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="pcoded-navigatio-lavel">網站管理</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="">
                                <a href="{{ url('app.website.index') }}">
                                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                    <span class="pcoded-mtext">前台首頁</span>
                                </a>
                            </li>
                            <!-- user-menu start -->
                            <li class="pcoded-hasmenu {% block user_menu %}{% endblock %}" id="user-menu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="ion-ios-people"></i></span>
                                    <span class="pcoded-mtext">網站使用者</span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="{% block user_create_menu %}{% endblock %}" id="user-create-menu">
                                        <a href="{{ url("app.admin.users.create") }}">
                                            <span class="pcoded-mtext">新增使用者</span>
                                        </a>
                                    </li>
                                    <li class="{% block user_management_menu %}{% endblock %}" id="user-management-menu">
                                        <a href="{{ url("app.admin.users.list") }}">
                                            <span class="pcoded-mtext">管理使用者</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- user-menu end -->
                        </ul>
{#                        <ul class="pcoded-item pcoded-left-item">#}
{#                            <!-- user-menu start -->#}
{#                            <li class="pcoded-hasmenu {% block banner_menu %}{% endblock %}" id="banner-menu">#}
{#                                <a href="javascript:void(0)">#}
{#                                    <span class="pcoded-micon"><i class="ion-images"></i></span>#}
{#                                    <span class="pcoded-mtext">網站 Banner</span>#}
{#                                </a>#}
{#                                <ul class="pcoded-submenu">#}
{#                                    <li class="{% block banner_create_menu %}{% endblock %}" id="banner-create-menu">#}
{#                                        <a href="{{ url('app.admin.banners.create') }}">#}
{#                                            <span class="pcoded-mtext">新增 Banner</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="{% block banner_management_menu %}{% endblock %}" id="banner-management-menu">#}
{#                                        <a href="{{ url('app.admin.banners.list') }}">#}
{#                                            <span class="pcoded-mtext">管理 Banner</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <!-- user-menu end -->#}
{#                        </ul>#}
{#                        <div class="pcoded-navigatio-lavel">進階區塊</div>#}
{#                        <ul class="pcoded-item pcoded-left-item">#}
{#                            <!-- app-setting-menu start -->#}
{#                            <li class="pcoded-hasmenu {% block app_setting_menu %}{% endblock %}" id="app-setting-menu">#}
{#                                <a href="javascript:void(0)">#}
{#                                    <span class="pcoded-micon"><i class="ion-gear-b"></i></span>#}
{#                                    <span class="pcoded-mtext">網站設定</span>#}
{#                                </a>#}
{#                                <ul class="pcoded-submenu">#}
{#                                    <li class="{% block app_setting_basic_menu %}{% endblock %}"#}
{#                                        id="app-setting-code-injection-menu">#}
{#                                        <a href="{{ url('app.admin.app_settings.basic') }}">#}
{#                                            <span class="pcoded-mtext">網站基本設定</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <!-- app-setting-seo-menu start -->#}
{#                                    <li class="pcoded-hasmenu {% block app_setting_seo_menu %}{% endblock %}"#}
{#                                        id="app-setting-seo-menu" dropdown-icon="style1" subitem-icon="style1">#}
{#                                        <a href="javascript:void(0)">#}
{#                                            <span class="pcoded-mtext">SEO 相關設定</span>#}
{#                                        </a>#}
{#                                        <ul class="pcoded-submenu">#}
{#                                            <li class="{% block app_setting_twitter_card_menu %}{% endblock %}" id="app-setting-twitter-card-menu">#}
{#                                                <a href="{{ url('app.admin.app_settings.twitter_card') }}">#}
{#                                                    <span class="pcoded-mtext">Twitter Card 設定</span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li class="{% block app_setting_facebook_card_menu %}{% endblock %}" id="app-setting-opengraph-menu">#}
{#                                                <a href="{{ url('app.admin.app_settings.facebook_card') }}">#}
{#                                                    <span class="pcoded-mtext">Facebook Card 設定</span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                    <!-- app-setting-seo-menu end -->#}
{#                                    <!-- app-setting-payment-menu start -->#}
{#                                    <li class="pcoded-hasmenu {% block app_setting_payment_menu %}{% endblock %}"#}
{#                                        id="app-setting-seo-menu" dropdown-icon="style1" subitem-icon="style1">#}
{#                                        <a href="javascript:void(0)">#}
{#                                            <span class="pcoded-mtext">網站金流設定</span>#}
{#                                        </a>#}
{#                                        <ul class="pcoded-submenu">#}
{#                                            <li class="{% block app_setting_payment_ecpay_menu %}{% endblock %}" id="app-setting-payment-ecpay-menu">#}
{#                                                <a href="{{ url('app.admin.app_settings.ecpay') }}">#}
{#                                                    <span class="pcoded-mtext">綠界金流設定</span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li class="{% block app_setting_payment_newebpay_menu %}{% endblock %}" id="app-setting-payment-newebpay-menu">#}
{#                                                <a href="{{ url('app.admin.app_settings.newebpay') }}">#}
{#                                                    <span class="pcoded-mtext">藍新金流設定</span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                    <!-- app-setting-payment-menu end -->#}
{#                                    <li class="{% block app_setting_ga_track_id_menu %}{% endblock %}" id="app-setting-ga-track-id-menu">#}
{#                                        <a href="{{ url('app.admin.app_settings.ga_track_id') }}">#}
{#                                            <span class="pcoded-mtext">GA 追蹤碼設定</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="{% block app_setting_google_recaptcha_menu %}{% endblock %}" id="app-setting-google-recaptcha-menu">#}
{#                                        <a href="{{ url('app.admin.app_settings.google_recaptcha') }}">#}
{#                                            <span class="pcoded-mtext">Google Recaptcha 設定</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="{% block app_setting_code_injection_menu %}{% endblock %}"#}
{#                                        id="app-setting-code-injection-menu">#}
{#                                        <a href="{{ url('app.admin.app_settings.code_injection') }}">#}
{#                                            <span class="pcoded-mtext">Code Injection 設定</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <!-- app-setting-menu end -->#}
{#                            <!-- service-menu start -->#}
{#                            <li class="pcoded-hasmenu {% block service_menu %}{% endblock %}" id="service-menu">#}
{#                                <a href="javascript:void(0)">#}
{#                                    <span class="pcoded-micon"><i class="ion-planet"></i></span>#}
{#                                    <span class="pcoded-mtext">網站週邊服務</span>#}
{#                                </a>#}
{#                                <ul class="pcoded-submenu">#}
{#                                    <li class="{% block service_create_menu %}{% endblock %}" id="service-create-menu">#}
{#                                        <a href="{{ url("app.admin.services.create") }}">#}
{#                                            <span class="pcoded-mtext">新增週邊服務</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="{% block service_management_menu %}{% endblock %}" id="service-management-menu">#}
{#                                        <a href="{{ url("app.admin.services.list") }}">#}
{#                                            <span class="pcoded-mtext">管理週邊服務</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <!-- service-menu end -->#}
{#                        </ul>#}
                        {#<div class="pcoded-navigatio-lavel">開發者區塊</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="{% block app_setting_enable_menu %}{% endblock %}" id="app-setting-enable-menu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="ion-gear-a"></i></span>
                                    <span class="pcoded-mtext">網站設定開啟設定</span>
                                </a>
                            </li>
                        </ul>#}
                    </div>
                </nav>
                <!-- End of sidebar -->
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>{% block content_title %}控制台{% endblock %}</h4>
                                                    <span>{% block content_description %}歡迎來到網站控制台{% endblock %}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            {% block breadcrumb %}
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item" style="float: left;">
                                                        <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            {% endblock %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->
                                {% block body %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/assets/adminty/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="/assets/adminty/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/assets/adminty/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/assets/adminty/bower_components/modernizr/modernizr.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
<!-- Syntax highlighter prism js -->
<script type="text/javascript" src="/assets/adminty/assets/pages/prism/custom-prism.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="/assets/adminty/bower_components/Sortable/Sortable.js"></script>
<script src="/assets/adminty/assets/js/pcoded.min.js"></script>
<script src="/assets/adminty/assets/js/menu/menu-header-and-sidebar-fixed.js"></script>
<script src="/assets/adminty/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/assets/adminty/assets/js/script.js"></script>
{% block javascripts %}{% endblock %}
</html>
