{% extends "app/admin/base.html.twig" %}

{% block title %}控制台{% endblock %}

{% block content_title %}控制台{% endblock %}
{% block content_description %}您好，{{ app.user.getUsername() }} 歡迎來到控制台。使用後記得登出，以保證網站的安全。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card"
                     style="cursor: pointer"
                     onclick="window.location = '{{ url('app.admin.users.list') }}'">
                    <div class="card-block">
                        <div class="row align-items-center m-l-0">
                            <div class="col-auto">
                                <i class="ion-ios-people f-40 text-c-pink"></i>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-muted m-b-10">網站使用者總數</h6>
                                <h2 class="m-b-0">{{ count_users() }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card"
                     style="cursor: pointer"
                     onclick="window.location = '{{ url('app.admin.services.list') }}'">
                    <div class="card-block">
                        <div class="row align-items-center m-l-0">
                            <div class="col-auto">
                                <i class="ion-planet f-40 text-c-pink"></i>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-muted m-b-10">使用中的週邊服務</h6>
                                <h2 class="m-b-0">{{ count_services() }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}