{% extends "app/admin/base.html.twig" %}

{% block title %}編輯使用者{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="/admin"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.users.list') }}"> 管理使用者 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 編輯使用者 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block user_menu %}pcoded-trigger{% endblock %}
{% block user_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}編輯使用者：{{ appUser.getUsername() }}{% endblock %}
{% block content_description %}協助使用者更改資料，請務必經過該使用者同意之後再更新該使用的資料。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">編輯用戶</h5>
                    </div>
                    <div class="card-block">
                        {% if form_errors(appUserEditForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(appUserEditForm) }}
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-12">
                                <div id="uploader"
                                     data-controller="uploader"
                                     data-uploader-title-value="拖曳或點選這裡，上傳用戶頭像。"
                                     data-uploader-output-value="edit_avatar"
                                     data-uploader-image-value="{{ appUser.getAvatar() }}"></div>
                            </div>
                        </div>
                        {{ form_start(appUserEditForm) }}
                        <div class="form-group row">
                            {{ form_label(appUserEditForm.email, '電子郵件', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(appUserEditForm.email, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(appUserEditForm.mobile, '手機號碼', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(appUserEditForm.mobile, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="create_expire_time" class="col-lg-3 col-xl-2 col-form-label">
                                帳號過期時間
                                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                                   data-original-title="這裡的用戶到期時間是指，該用戶到達此設定的時間的瞬間將被強制登出並且無法執行任何需要用戶權限的動作。因此你也可以透過將某用戶設為過期來凍結該用戶並且強制登出的該用戶的所有裝置。"></i>
                            </label>
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(appUserEditForm.expire_time, {'attr': {
                                    'class': 'form-control',
                                    'autocomplete': 'off',
                                    "type": "date",
                                    "disabled": appUser.isNeverExpireUser()
                                }}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <div class="checkbox-color checkbox-primary">
                                    {{ form_widget(appUserEditForm.forever) }}
                                    {{ form_label(appUserEditForm.forever) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <div class="checkbox-color checkbox-primary">
                                    {{ form_widget(appUserEditForm.is_admin) }}
                                    {{ form_label(appUserEditForm.is_admin) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">儲存</button>
                                <a href="{{ url('app.admin.users.fetch', {"uuid": appUser.getUuid()}) }}">
                                    <button type="button" onclick="return confirm('確定不儲存就返回嗎？')" class="btn btn-secondary">返回</button>
                                </a>
                            </div>
                        </div>
                        {{ form_widget(appUserEditForm.avatar, {'attr': {'class': 'd-none'}}) }}
                        {{ form_end(appUserEditForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}

{% block javascripts %}
    <script>
        $('#edit_forever').click(function() {
            $('#edit_expire_time').attr("disabled", $(this).is(":checked"));
        })
    </script>
{% endblock %}