{% extends "app/admin/base.html.twig" %}

{% block title %}編輯 Banner{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.banners.list') }}"> 管理 Banner </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 編輯 Banner </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block banner_menu %}pcoded-trigger{% endblock %}
{% block banner_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}編輯 Banner{% endblock %}
{% block content_description %}編輯輪播圖片集，您可以編輯它的名稱及代碼。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">Banner 基本資料</h5>
                    </div>
                    <div class="card-block">
                        {% if form_errors(bannerEditForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(bannerEditForm) }}
                            </div>
                        {% endif %}
                        {{ form_start(bannerEditForm) }}
                        <div class="form-group row">
                            {{ form_label(bannerEditForm.name, '名稱', {'label_attr': {'class': 'col-sm-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(bannerEditForm.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2 col-form-label" for="position">
                                代稱
                                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                                   data-original-title="代稱為該元件的唯一代碼，如果本元件將被放至於首頁，您可以將其設定為：homepage。"></i>
                            </label>
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(bannerEditForm.alias, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">儲存</button>
                                <a href="{{ url('app.admin.banners.fetch', {'uuid': banner.getUuid()}) }}">
                                    <button type="button" class="btn btn-secondary">返回</button>
                                </a>
                            </div>
                        </div>
                        {{ form_end(bannerEditForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}