{% extends "app/admin/base.html.twig" %}

{% block title %}編輯週邊服務{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.services.list') }}"> 管理週邊服務 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 編輯週邊服務 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block service_menu %}pcoded-trigger{% endblock %}
{% block service_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}編輯週邊服務{% endblock %}
{% block content_description %}編輯當前已存在的週邊服務，並使週邊服務可以透過 API Token 存取網站的 API，如果您不確定，請不要更動本區的設定。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">週邊服務基本資料</h5>
                    </div>
                    <div class="card-block">
                        {% if form_errors(serviceEditForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(serviceEditForm) }}
                            </div>
                        {% endif %}
                        {{ form_start(serviceEditForm) }}
                        <div class="form-group row">
                            {{ form_label(serviceEditForm.name, '服務名稱', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(serviceEditForm.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(serviceEditForm.description, '服務敘述', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(serviceEditForm.description, {'attr': {'class': 'form-control', 'rows': '15'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button type="submit" class="btn btn-primary">儲存</button>
                                <a href="{{ url('app.admin.services.fetch', {'uuid': service.getUuid()}) }}">
                                    <button type="button" class="btn btn-secondary">返回</button>
                                </a>
                            </div>
                        </div>
                        {{ form_end(serviceEditForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}