{% extends "app/website/adminty.html.twig" %}

{% block title %}已登入的裝置{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.website.profile') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 已登入的裝置 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block logged_in_device_menu %}active trigger{% endblock %}

{% block content_title %}已登入的裝置{% endblock %}
{% block content_description %}您可以從這裡看到所有已登入的裝置，也可以從登出它們。{% endblock %}