<html lang="zh">
<head>
    <title>電子郵件驗證信已經寄送</title>
</head>
<body>
<script>
    alert("電子郵件驗證信已經寄送，請至您的信箱中點選驗證連結，驗證完畢後才會正式更改您的電子郵件。");
    window.location.href = "{{ url('app.website.profile') }}";
</script>
</body>
</html>