{% extends "app/website/adminty.html.twig" %}

{% block title %}更改電子郵件{% endblock %}

{% block content_title %}更改電子郵件{% endblock %}
{% block content_description %}可以在這裡更改您的電子郵件地址，更改後不會立即生效，您需要至您輸入的電子郵件中點選驗證連結後，更新才會生效。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">更新電子郵件</h5>
                    </div>
                    <div class="card-block">
                        {{ form_start(updateEmailForm) }}
                        {% if form_errors(updateEmailForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(updateEmailForm) }}
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            {{ form_label(updateEmailForm.email, '新電子郵件地址', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(updateEmailForm.email, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">更新</button>
                            </div>
                        </div>
                        {{ form_end(updateEmailForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}
