{% extends "app/admin/base.html.twig" %}

{% block title %}密碼重設成功{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="/admin"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.users.list') }}"> 管理使用者 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 密碼重設成功 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block user_menu %}pcoded-trigger{% endblock %}
{% block user_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}密碼重設成功{% endblock %}
{% block content_description %}密碼重設成功，請該使用者下次登入時使用新密碼進行登入{% endblock %}

{% block body %}
<!-- Page-body start -->
<div class="page-body">
    <!-- Row start -->
    <div class="row">
        <!-- Multiple Open Accordion start -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">五秒後將自動轉跳回該用戶的資料頁面</h5>
                </div>
                <div class="card-block">
                    <a href="{{ url("app.admin.users.fetch", {'uuid': appUser.getUuid()}) }}">
                        <button class="btn btn-success">立即轉跳</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function() {
            setTimeout(function() {
                window.location = "{{ url('app.admin.users.fetch', {'uuid': appUser.getUuid()}) }}";
            }, 5000)
        }
    </script>
{% endblock %}