{% extends "app/admin/base.html.twig" %}

{% block title %}重設密碼{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="/admin"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.users.list') }}"> 管理使用者 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 重設密碼 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block user_menu %}pcoded-trigger{% endblock %}
{% block user_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}重設密碼：{{ appUser.getUsername() }}{% endblock %}
{% block content_description %}協助使用者重設密碼，請務必取得該使用者同意之後再執行此操作。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">新增用戶</h5>
                    </div>
                    <div class="card-block">
                        {{ form_start(resetPasswordForm) }}
                        {% if form_errors(resetPasswordForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(resetPasswordForm) }}
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            {{ form_label(resetPasswordForm.new_password, '新密碼', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(resetPasswordForm.new_password, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(resetPasswordForm.new_password_confirm, '密碼確認', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(resetPasswordForm.new_password_confirm, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary" onclick="return confirm('確定要重設密碼嗎？')">重設密碼</button>
                                <a href="{{ url("app.admin.users.fetch", {'uuid': appUser.getUuid()}) }}">
                                    <button type="button" class="btn btn-secondary">返回</button>
                                </a>
                            </div>
                        </div>
                        {{ form_end(resetPasswordForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}