{% extends "app/website/adminty.html.twig" %}

{% block title %}被邀請人{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.website.profile') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 推薦碼 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 被邀請人 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block referral_code_menu %}pcoded-trigger{% endblock %}
{% block referrals_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}被邀請人{% endblock %}
{% block content_description %}這裡是透過您的邀請連結註冊的用戶列表{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">
                            用戶列表
                        </h5>
                        <span>每頁 {{ limit }} 筆，共 {{ maxPage }} 頁，共有 {{ count }} 筆資料。</span>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-xs table-framed">
                                <thead>
                                <tr>
                                    <th style="width: 480px;">使用者帳號</th>
                                    <th>加入時間</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for referral in referrals %}
                                    <tr>
                                        <th>
                                            {{ referral.getUsername() }}
                                        </th>
                                        <td>{{ user.getCreateAt() | date("Y-m-d H:i:s P") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <ul class="pagination justify-content-center">
                        <li class="paginate_button page-item previous {% if page == 1 %}disabled{% endif %}" id="pagination-previous">
                            {% if page > 1 %}
                                <a href="{{ url("app.admin.users.list_referrals", app.request.query.all|merge({'page': page - 1, uuid: appUser.getUuid()})) }}" class="page-link">上一頁</a>
                            {% else %}
                                <a href="javascript:void(0)" class="page-link">上一頁</a>
                            {% endif %}
                        </li>
                        {% for i in max(1, page - 4)..min(page + 4, maxPage) %}
                            {% if i > 0 %}
                                <li class="paginate_button page-item {% if page == i %}active{% endif %}">
                                    <a href="{{ url("app.admin.users.list_referrals", app.request.query.all|merge({'page': i, uuid: appUser.getUuid()})) }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="paginate_button page-item next {% if page >= maxPage %}disabled{% endif %}" id="order-table_next">
                            {% if page + 1 > maxPage %}
                                <a href="javascript:void(0)" class="page-link">下一頁</a>
                            {% else %}
                                <a href="{{ url("app.admin.users.list_referrals", app.request.query.all|merge({'page': page + 1, uuid: appUser.getUuid()})) }}" class="page-link">下一頁</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-body end -->
{% endblock %}
