{% extends "app/admin/base.html.twig" %}

{% block title %}使用者基本資料{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.users.list') }}"> 管理使用者 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 使用者基本資料 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block user_menu %}pcoded-trigger{% endblock %}
{% block user_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}使用者：{{ appUser.getUsername() }} 基本資料{% endblock %}
{% block content_description %}檢視使用者的基本資料：包含電子郵件等。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <a href="{{ url('app.admin.users.list_referrals', {'uuid': appUser.getUuid()}) }}">
                    <div class="card">
                        <div class="card-block">
                            <div class="row align-items-center m-l-0">
                                <div class="col-auto">
                                    <i class="feather icon-users f-30 text-c-pink"></i>
                                </div>
                                <div class="col-auto">
                                    <h6 class="text-muted m-b-10">被邀請人</h6>
                                    <h2 class="m-b-0">{{ referralsCount }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="{{ url('app.admin.user.logged_in_devices.list', {'uuid': appUser.getUuid()}) }}">
                    <div class="card">
                        <div class="card-block">
                            <div class="row align-items-center m-l-0">
                                <div class="col-auto">
                                    <i class="feather icon-smartphone f-30 text-c-pink"></i>
                                </div>
                                <div class="col-auto">
                                    <h6 class="text-muted m-b-10">目前的登入裝置</h6>
                                    <h2 class="m-b-0">{{ loggedDevicesCount }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="{{ url("app.admin.user.punch_records.list", {'uuid': appUser.getUuid()}) }}">
                    <div class="card">
                        <div class="card-block">
                            <div class="row align-items-center m-l-0">
                                <div class="col-auto">
                                    <i class="feather icon-smartphone f-30 text-c-pink"></i>
                                </div>
                                <div class="col-auto">
                                    <h6 class="text-muted m-b-10">打卡紀錄</h6>
                                    <h2 class="m-b-0">{{ punchRecordCount }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">使用者資料</h5>
                    </div>
                    <div class="card-block">
                        <!-- System generate Data -->
                        <h4 class="sub-title">系統資料</h4>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">UUID</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getUuid() }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">創建時間</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getCreateAt() | date("Y-m-d H:i:s P") }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">電子郵件驗證狀態</label>
                            <div class="col-lg-9 col-xl-10">
                                {% if appUser.isEmailVerified() %}已驗證
                                {% else %}未驗證
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">手機號碼驗證狀態</label>
                            <div class="col-lg-9 col-xl-10">
                                {% if appUser.isMobileVerified() %}已驗證
                                {% else %}未驗證
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">推薦連結</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ url("app.website.referral_code", {'referralCode': appUser.getReferralCode()}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2" for="referrer">推薦人</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getReferrer().getUsername() | default("無推薦者") }}
                            </div>
                        </div>
                        <!-- Editable Data -->
                        <h4 class="sub-title">使用者資料</h4>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2" for="avatar">用戶頭像</label>
                            <div class="col-lg-9 col-xl-10">
                                {% if appUser.getAvatar() | length <= 0 %}
                                    無頭像
                                {% else %}
                                    <img id="avatar" src="{{ appUser.getAvatar() }}" height="120" alt="無頭像">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2" for="email">電子郵件</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getEmail() | default("") }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2" for="mobile">手機號碼</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getMobile() | default("") }}
                            </div>
                        </div>
                        {% if not appUser.isNeverExpireUser() %}
                        <div class="form-group row">
                            <label for="create_expire_time" class="col-lg-3 col-xl-2">
                                帳號過期時間
                                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                                   data-original-title="這裡的用戶到期時間是指，該用戶到達此設定的時間的瞬間將被強制登出並且無法執行任何需要用戶權限的動作。因此你也可以透過將某用戶設為過期來凍結該用戶並且強制登出的該用戶的所有裝置。"></i>
                            </label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getExpireTime() | date("Y-m-d") }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <div class="checkbox-color checkbox-primary">
                                    {% if appUser.isAdmin() %}
                                    <input id="is-admin" type="checkbox" checked="checked" readonly="readonly" disabled>
                                    {% else %}
                                    <input id="is-admin" type="checkbox" readonly="readonly" disabled>
                                    {% endif %}
                                    <label for="is-admin">
                                        是否具有管理員權限
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <div class="checkbox-color checkbox-primary">
                                    {% if appUser.isNeverExpireUser() %}
                                        <input id="is-never-expire" type="checkbox" checked="checked" readonly="readonly" disabled>
                                    {% else %}
                                        <input id="is-never-expire" type="checkbox" readonly="readonly" disabled>
                                    {% endif %}
                                    <label for="is-never-expire">
                                        永久使用者
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <a href="{{ url("app.admin.users.edit", {'uuid': appUser.getUuid()}) }}">
                                    <button class="btn btn-success">編輯使用者</button>
                                </a>
                                <a href="{{ url("app.admin.users.reset_password", {'uuid': appUser.getUuid()}) }}">
                                    <button class="btn btn-warning">重設密碼</button>
                                </a>
                                {% if app.user.getUuid() != appUser.getUuid() %}
                                <a href="{{ url('app.admin.users.delete', {'uuid': appUser.getUuid()}) }}">
                                    <button onclick="return confirm('確定要刪除該使用者嗎？')" class="btn btn-danger">刪除使用者</button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}