{% extends "app/admin/base.html.twig" %}

{% block title %}完成打卡驗證{% endblock %}

{% block content_title %}新增打卡紀錄{% endblock %}
{% block content_description %}已經為使用者完成打卡驗證: {{ appUser.getUsername() }}{% endblock %}