{% extends "app/website/adminty.html.twig" %}

{% block title %}QR Code{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.website.profile') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 推薦碼 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> QR Code </a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block referral_code_menu %}pcoded-trigger{% endblock %}
{% block referral_qr_code_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}QR Code{% endblock %}
{% block content_description %}這是您的 Qr Code 您可以將它分享給其他人，這個 Qr Code 就是您的推薦連結{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block" style="display: flex; justify-content: center">
                        <div id="qrcode"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous"></script>
    <script>
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: "{{ url("app.website.referral_code", {'referralCode': appUser.getReferralCode()}) }}",
            width: '280',
            height: '280',
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
    </script>
{% endblock %}