<html lang="zh">
<head>
    <title>重設連結已經過期</title>
</head>
<body>
<script>
    alert("重設連結已經過期。");
    window.location.href = "{{ url('app.auth.forget_password.method.username') }}";
</script>
</body>
</html>