<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}控制台{% endblock %}</title>
    <!-- Favicon icon -->
    <link rel="icon" href="/assets/adminty/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/icofont/css/icofont.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/ion-icon/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/feather/css/feather.css">
    <!-- Syntax highlighter Prism css -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/pages/prism/prism.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/css/jquery.mCustomScrollbar.css">
    <!--foo table Grid-->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/pages/foo-table/css/footable.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/pages/foo-table/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/pages/foo-table/css/footable.standalone.min.css">
    <!-- Dropzone -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"
            integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.css"
          integrity="sha512-CmjeEOiBCtxpzzfuT2remy8NP++fmHRxR3LnsdQhVXzA3QqRMaJ3heF9zOB+c1lCWSwZkzSOWfTn1CdqgkW3EQ=="
          crossorigin="anonymous" />
    <!-- ace.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.min.js"
            integrity="sha512-GoORoNnxst42zE3rYPj4bNBm0Q6ZRXKNH2D9nEmNvVF/z24ywVnijAWVi/09iBiVDQVf3UlZHpzhAJIdd9BXqw=="
            crossorigin="anonymous"></script>
    {% include "includes/fonts/noto-sans.html.twig" %}
    {% include "includes/fonts/noto-sans-tc.html.twig" %}
    <style>
        body {
            font-family: "Noto Sans", "Noto Sans CJK TC", serif}
    </style>
    <script src="{{ asset("build/admin.js") }}"></script>
    <link rel="stylesheet" href="{{ asset("build/admin.css") }}"></link>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% include "app/admin/components/pre-loader.html.twig" %}
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">

                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="javascript:void(0)">
                        <i class="feather icon-menu"></i>
                    </a>
                    <a href="{{ url('app.website.index') }}">
                        <img class="img-fluid" src="/assets/adminty/assets/images/logo.png" alt="Admin Panel Logo"/>
                    </a>
                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>

                <div class="navbar-container">
                    <ul class="nav-left">
                        {% block search %}{% endblock %}
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                <i class="full-screen feather icon-maximize"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{ gravatar(app.user.getEmail() | default("noemail@gmail.com")) }}" class="img-radius"
                                         alt="User-Profile-Image">
                                    <span>{{ app.user.getUsername() }}</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu"
                                    data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <li style="cursor: pointer"
                                            onclick="window.location = '{{ url("app.admin.index") }}'">
                                            <i class="feather icon-user"></i> 管理員界面
                                        </li>
                                    {% endif %}
                                    <li style="cursor: pointer"
                                        onclick="window.location = '{{ url("app.website.profile") }}'">
                                        <i class="feather icon-user"></i> 個人資料
                                    </li>
                                    <li style="cursor: pointer"
                                        onclick="window.location = '{{ url('app.auth.logout') }}'">
                                        <i class="feather icon-log-out"></i> 登出
                                    </li>
                                </ul>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <!-- Start of sidebar -->
                <nav class="pcoded-navbar">
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="pcoded-navigatio-lavel">會員專區</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="{% block punch_record_menu %}{% endblock %}" id="logged-in-device-menu">
                                <a href="{{ url("app.website.profile.punch_records.list") }}">
                                    <span class="pcoded-micon"><i class="ion-ios-monitor"></i></span>
                                    <span class="pcoded-mtext">打卡紀錄</span>
                                </a>
                            </li>
                            <!-- user-menu start -->
{#                            <li class="pcoded-hasmenu {% block referral_code_menu %}{% endblock %}" id="referral-code">#}
{#                                <a href="javascript:void(0)">#}
{#                                    <span class="pcoded-micon"><i class="ion-ios-people"></i></span>#}
{#                                    <span class="pcoded-mtext">推薦碼</span>#}
{#                                </a>#}
{#                                <ul class="pcoded-submenu">#}
{#                                    <li class="{% block referral_qr_code_menu %}{% endblock %}" id="referral-qrcode-menu">#}
{#                                        <a href="{{ url("app.website.profile.referrer.qr_code") }}">#}
{#                                            <span class="pcoded-mtext">QR Code</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="{% block referrals_menu %}{% endblock %}" id="referrals-menu">#}
{#                                        <a href="{{ url("app.website.profile.referral.list") }}">#}
{#                                            <span class="pcoded-mtext">被推薦人列表</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
                            <!-- user-menu end -->
                        </ul>
                    </div>
                </nav>
                <!-- End of sidebar -->
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>{% block content_title %}個人資料{% endblock %}</h4>
                                                    <span>{% block content_description %}這裡是您的個人資料管理頁面{% endblock %}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            {% block breadcrumb %}
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item" style="float: left;">
                                                            <a href="{{ url('app.website.index') }}"> <i class="feather icon-home"></i> </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {% endblock %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->
                                {% block body %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/assets/adminty/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="/assets/adminty/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/assets/adminty/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/assets/adminty/bower_components/modernizr/modernizr.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
<!-- Syntax highlighter prism js -->
<script type="text/javascript" src="/assets/adminty/assets/pages/prism/custom-prism.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="/assets/adminty/bower_components/Sortable/Sortable.js"></script>
<script src="/assets/adminty/assets/js/pcoded.min.js"></script>
<script src="/assets/adminty/assets/js/menu/menu-header-and-sidebar-fixed.js"></script>
<script src="/assets/adminty/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/assets/adminty/assets/js/script.js"></script>
{% block javascripts %}{% endblock %}
</html>
