<html lang="zh">
    <head>
        <title>用戶已經過期</title>
    </head>
    <body>
        <script>
            alert("此帳號的使用期限已經到期，自動將您登出");
            window.location.href = {{ url('app.website.index') }};
        </script>
    </body>
</html>