<div class="card">
    <div class="card-header">
        <h5 class="card-header-text">
            用戶列表
        </h5>
        <span>
            用戶帳號後具有 <code><i class="ion-ribbon-b"></i></code> 圖示的用戶代表具有管理員權限，
            具有 <code><i class="ion-settings"></i></code> 則為網站開發者，
            每頁 {{ limit }} 筆，共 {{ maxPage }} 頁，共有 {{ count }} 筆資料。</span>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-xs table-framed">
                <thead>
                <tr>
                    <th style="width: 480px;">使用者帳號</th>
                    <th>使用者電子郵件</th>
                    <th>使用者創建時間</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th>
                            <a href="{{ url("app.admin.users.fetch", {'uuid': user.getUuid()}) }}">{{ user.getUsername() }}</a>
                            {% if user.isAdmin() %}
                                <i class="ion-ribbon-b"></i>
                            {% endif %}
                            {% if user.isDeveloper() %}
                                <i class="ion-settings"></i>
                            {% endif %}
                        </th>
                        <td>{{ user.getEmail() }}</td>
                        <td>{{ user.getCreateAt() | date("Y-m-d H:i:s P") }}</td>
                        <td>
                            <a href="{{ url('app.admin.users.fetch', {'uuid': user.getUuid()}) }}">查看</a>
                            |
                            <a href="{{ url('app.admin.users.edit', {'uuid': user.getUuid()}) }}">編輯</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>