{% extends "app/admin/base.html.twig" %}

{% block title %}Banner 詳細資料{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.banners.list') }}"> 管理 Banner </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> Banner 詳細資料 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block banner_menu %}pcoded-trigger{% endblock %}
{% block banner_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}Banner 詳細資料{% endblock %}
{% block content_description %}輪播圖片集，每一個圖片集中可以含有多張圖片。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">週邊服務基本資料</h5>
                    </div>
                    <div class="card-block">
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2 col-form-label" for="name">名稱</label>
                            <div class="col-lg-9 col-xl-10">
                                <input id="name" type="text" class="form-control" readonly="readonly" value="{{ banner.getName() }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2 col-form-label" for="position">
                                代稱
                                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                                   data-original-title="代稱為該元件的唯一代碼，如果本元件將被放至於首頁，您可以將其設定為：homepage。"></i>
                            </label>
                            <div class="col-lg-9 col-xl-10">
                                <input id="position" type="text" class="form-control" readonly="readonly" value="{{ banner.getAlias() }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <a href="{{ url("app.admin.banners.list") }}">
                                    <button class="btn btn-secondary">返回</button>
                                </a>
                                <a href="{{ url("app.admin.banners.edit", {'uuid': banner.getUuid()}) }}">
                                    <button class="btn btn-warning">編輯</button>
                                </a>
                                <a href="{{ url('app.admin.banners.delete', {'uuid': banner.getUuid()}) }}">
                                    <button onclick="return confirm('確定要刪除嗎？這麼一來 Banner 中的圖片將被一併刪除。')"
                                            class="btn btn-danger">刪除</button>
                                </a>
                                <a href="{{ url('app.admin.banner_items.create', {'uuid': banner.getUuid()}) }}">
                                    <button class="btn btn-success">新增圖片</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
        <div class="row">
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">管理 Banner 圖片</h5>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><a href="{{ url('app.admin.banner_items.create', {'uuid': banner.getUuid()}) }}"><i class="ion-android-add"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block p-b-0">
                        <div class="row">
                            <div class="col-md-12" id="draggableMultiple" data-controller="banner-item-management">
                                {% for bannerItem in bannerItems %}
                                <div class="sortable-moves" data-banner-item-uuid="{{ bannerItem.getUuid() }}">
                                    <div class="pos-absolute" style="left: 10px;width: 40px; height: 40px; border-radius: 5px; background-position: center; background-size: cover; background-image: url('{{ bannerItem.image }}')"></div>
                                    <h6>標題：{{ bannerItem.getTitle() | default("") }}</h6>
                                    <div class="m-b-15">
                                        <ul>
                                            <li>副標題：{{ bannerItem.getSubTitle() | default("") }}</li>
                                            <li>連結：{{ bannerItem.getLink() | default("") }}</li>
                                        </ul>
                                    </div>
                                    <a href="{{ url('app.admin.banner_items.edit', {'uuid': bannerItem.getUuid()}) }}">
                                        <button class="btn btn-warning">編輯</button>
                                    </a>
                                    <a href="{{ url('app.admin.banner_items.delete', {'uuid': bannerItem.getUuid()}) }}">
                                        <button class="btn btn-danger">刪除</button>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-body end -->
{% endblock %}