{% extends "app/admin/base.html.twig" %}

{% block title %}打卡紀錄列表{% endblock %}

{% block content_title %}打卡紀錄列表{% endblock %}
{% block content_description %}這裡是用戶: {{ app.user.getUsername() }} 的打卡紀錄.{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">
                            打卡紀錄列表
                        </h5>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-xs table-framed">
                                <thead>
                                <tr>
                                    <th style="width: 480px;">帳號</th>
                                    <th>打卡類型</th>
                                    <th>打卡時間</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for punchRecord in appUserPunchRecords %}
                                    <tr>
                                        <th>
                                            {{ punchRecord.getAppUser().getUsername() }}
                                        </th>
                                        <td>{{ punchRecord.getType() | punchType }}</td>
                                        <td>{{ punchRecord.getCreateAt() | date("Y-m-d H:i:s P") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}