{% extends "app/admin/base.html.twig" %}

{% block title %}服務創建完成{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="/admin"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.services.list') }}"> 管理週邊服務 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 新增週邊服務 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block service_menu %}pcoded-trigger{% endblock %}
{% block service_create_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}服務：{{ service.getName() }} 創建完成{% endblock %}
{% block content_description %}週邊服務創建完成，請紀錄以下的 API Token，遺失只能重新產生。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">週邊服務 API Token</h5>
                    </div>
                    <div class="card-block">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="plain-token">API Token</label>
                            <div class="col-sm-10">
                                <textarea type="text" id="plain-token" class="form-control" rows="5" readonly="">{{ plainToken }}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <a href="{{ url('app.admin.services.fetch', {'uuid': service.getUuid()}) }}">
                                    <button class="btn btn-primary" onclick="return confirm('確定有記下來了嗎？')">確定</button>
                                </a>
                                <button class="btn btn-success" onclick="copyApiToken()">複製 API Token</button>
                            </div>
                        </div>
                    </div>
                    <script>
                        function copyApiToken() {
                            let plainTokenTextArea = document.querySelector("#plain-token");
                            plainTokenTextArea.select();
                            try {
                                document.execCommand("copy");
                                alert("已經成功複製 API Token");
                            } catch (err) {
                                window.getSelection().removeAllRanges()
                            }
                        }
                    </script>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}