<html lang="zh">
<head>
    <title>無效的登入連結</title>
</head>
<body>
<script>
    alert("無效的登入連結。");
    window.location.href = "{{ url('app.website.auth.login.method.mobile') }}";
</script>
</body>
</html>