{% extends "app/admin/base.html.twig" %}

{% block title %}網站基礎設定{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 網站設定 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 網站基礎設定 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block app_setting_menu %}pcoded-trigger{% endblock %}
{% block app_setting_basic_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}網站基礎設定{% endblock %}
{% block content_description %}設定網站基本資料，如：網站標題、網站敘述等。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">網站基礎設定</h5>
                    </div>
                    <div class="card-block">
                        {{ form_start(settingForm) }}
                        {% if form_errors(settingForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(settingForm) }}
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            {{ form_label(settingForm.title, '網站標題', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.title, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(settingForm.description, '網站敘述', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.description, {'attr': {'class': 'form-control', 'autocomplete': 'off', 'rows': 5}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(settingForm.url, '公開網址', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.url, {'attr': {'class': 'form-control', 'autocomplete': 'off', 'placeholder': "範例："~app.request.getSchemeAndHttpHost()}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">儲存</button>
                            </div>
                        </div>
                        {{ form_end(settingForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}