<html lang="zh">
<head>
    <title>重設密碼信件已經寄出</title>
</head>
<body>
<script>
    alert("重設密碼信件已經寄出，如果您的帳號或電子郵件有在我們的資料庫中，我們將會寄送重設信件的電子郵件給您。");
    window.location.href = "{{ url('app.auth.login') }}";
</script>
</body>
</html>