<!DOCTYPE html>
<html lang="zh">

<head>
    <title>忘記密碼</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords"
          content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="/assets/adminty/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/adminty/assets/css/style.css">
    {% include "includes/fonts/noto-sans.html.twig" %}
    {% include "includes/fonts/noto-sans-tc.html.twig" %}
    <style>
        body {
            font-family: "Noto Sans", "Noto Sans CJK TC", serif}
    </style>
</head>

<body class="fix-menu">
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->

<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <div class="auth-box card">
                    <div class="card-block">
                        <div class="row m-b-20">
                            <div class="col-md-12">
                                <h3 class="text-center">忘記密碼</h3>
                            </div>
                        </div>
                        {{ form_start(mobileForgetPasswordForm, {'attr': {'class': 'md-float-material form-material'}}) }}
                        {% if form_errors(mobileForgetPasswordForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(mobileForgetPasswordForm) }}
                            </div>
                        {% endif %}
                        <div class="form-group form-primary">
                            {{ form_label(mobileForgetPasswordForm.mobile) }}
                            {{ form_widget(mobileForgetPasswordForm.mobile, {'attr': {'class': 'form-control'}}) }}
                            <span class="form-bar"></span>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <button type="submit"
                                        class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">
                                    寄送驗證碼
                                </button>
                            </div>
                        </div>
                        {{ form_end(mobileForgetPasswordForm) }}
                    </div>
                </div>
                <!-- end of form -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>
<!-- Required Jquery -->
<script type="text/javascript" src="/assets/adminty/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/assets/adminty/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/assets/adminty/bower_components/modernizr/modernizr.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
<!-- i18next.min.js -->
<script type="text/javascript" src="/assets/adminty/bower_components/i18next/i18next.min.js"></script>
<script type="text/javascript"
        src="/assets/adminty/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
<script type="text/javascript"
        src="/assets/adminty/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript" src="/assets/adminty/bower_components/jquery-i18next/jquery-i18next.min.js"></script>
<script type="text/javascript" src="/assets/adminty/assets/js/common-pages.js"></script>
</body>

</html>