<html lang="zh">
<head>
    <title>驗證碼已經過期</title>
</head>
<body>
<script>
    alert("驗證碼已經過期，請重新登入。");
    window.location.href = "{{ url('app.auth.forget_password.method.mobile') }}";
</script>
</body>
</html>