<html lang="zh">
<head>
    <title>無效的重設密碼連結</title>
</head>
<body>
<script>
    alert("無效的重設密碼連結。");
    window.location.href = "{{ url('app.auth.forget_password.method.mobile') }}";
</script>
</body>
</html>