{% extends "app/admin/base.html.twig" %}

{% block title %}新增用戶{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="/admin"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.users.list') }}"> 管理使用者 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 新增用戶 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block user_menu %}pcoded-trigger{% endblock %}
{% block user_create_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}新增用戶{% endblock %}
{% block content_description %}新增一個網站用戶，並賦予用戶相對應的權限{% endblock %}


{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">新增用戶</h5>
                    </div>
                    <div class="card-block">
                        {{ form_start(appUserCreateForm) }}
                        {% if form_errors(appUserCreateForm) %}
                        <div class="alert alert-danger background-danger">
                            {{ form_errors(appUserCreateForm) }}
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-12">
                                <div id="uploader"
                                     data-controller="uploader"
                                     data-uploader-title-value="拖曳或點選這裡，上傳用戶頭像。"
                                     data-uploader-output-value="create_avatar"
                                     data-uploader-image-value=""></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(appUserCreateForm.email, '電子郵件', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(appUserCreateForm.email, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(appUserCreateForm.mobile, '手機號碼', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(appUserCreateForm.mobile, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(appUserCreateForm.password, '密碼', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(appUserCreateForm.password, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="create_expire_time" class="col-lg-3 col-xl-2 col-form-label">
                                帳號過期時間
                                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                                   data-original-title="這裡的用戶到期時間是指，該用戶到達此設定的時間的瞬間將被強制登出並且無法執行任何需要用戶權限的動作。因此你也可以透過將某用戶設為過期來凍結該用戶並且強制登出的該用戶的所有裝置。"></i>
                            </label>
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(appUserCreateForm.expire_time, {'attr': {'class': 'form-control', 'autocomplete': 'off', "type": "date"}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <div class="checkbox-color checkbox-primary">
                                    {{ form_widget(appUserCreateForm.forever) }}
                                    {{ form_label(appUserCreateForm.forever) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <div class="checkbox-color checkbox-primary">
                                    {{ form_widget(appUserCreateForm.is_admin) }}
                                    {{ form_label(appUserCreateForm.is_admin) }}
                                </div>
                            </div>
                        </div>
                        {{ form_widget(appUserCreateForm.avatar, {'attr': {'class': 'd-none'}}) }}
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">新增使用者</button>
                            </div>
                        </div>
                        {{ form_end(appUserCreateForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}

{% block javascripts %}
    <script>
        $('#create_forever').click(function() {
            $('#create_expire_time').attr("disabled", $(this).is(":checked"));
        })
    </script>
{% endblock %}