{% extends "app/website/adminty.html.twig" %}

{% block title %}編輯個人資料{% endblock %}

{% block content_title %}編輯個人資料{% endblock %}
{% block content_description %}您可以在這裡編輯自己的個人資料{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">編輯個人資料</h5>
                    </div>
                    <div class="card-block">
                        {{ form_start(profileEditForm) }}
                        {% if form_errors(profileEditForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(profileEditForm) }}
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            {{ form_label(profileEditForm.username, '帳號', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(profileEditForm.username, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">更新資料</button>
                            </div>
                        </div>
                        {{ form_end(profileEditForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}