.single-image-uploader {
  width: 100%;
  height: 200px;
  background-color: #fff;
  border: 1px solid #efefef;
  position: relative;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.single-image-uploader .dz-filename {display: none;}
.single-image-uploader .dz-size {display: none;}
.single-image-uploader .dz-success-mark {display: none;}
.single-image-uploader .dz-error-mark {display: none;}
.single-image-uploader .dz-error-message {display: none;}
.single-image-uploader .dz-image {display: none;}
.single-image-uploader .uploader-title {

}
.single-image-uploader .uploader-remove {
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  color: #fff;
}