{% extends "app/admin/base.html.twig" %}

{% block title %}Code Injection 設定{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 網站設定 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> Code Injection 設定 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block app_setting_menu %}pcoded-trigger{% endblock %}
{% block app_setting_code_injection_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}Code Injection 設定{% endblock %}
{% block content_description %}您可以透過這裡對整個網站的 <code>&lt;head&gt;</code> 之前的網站起始以及<code>&lt;/body&gt;</code>之後的網站尾端做 HTML 插入{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">在網站中插入程式碼</h5>
                    </div>
                    <div class="card-block">
                        {{ form_start(settingForm) }}
                        {% if form_errors(settingForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(settingForm) }}
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            {{ form_label(settingForm.start, '插入網站起始', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.start, {'attr': {'class': 'form-control', 'autocomplete': 'off', 'rows': 10}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(settingForm.end, '插入網站末尾', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.end, {'attr': {'class': 'form-control', 'autocomplete': 'off', 'rows': 10}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">儲存</button>
                            </div>
                        </div>
                        {{ form_end(settingForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}