{% extends "app/admin/base.html.twig" %}

{% block title %}新增 Banner 圖片{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.banners.list') }}"> 管理 Banner </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> Banner: {{ banner.getName() }} </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 新增 Banner 圖片 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block banner_menu %}pcoded-trigger{% endblock %}
{% block banner_create_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}新增 Banner 圖片{% endblock %}
{% block content_description %}新增圖片，可以為此圖片設定標題、副標題以及點擊後轉跳的連結。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">Banner 基本資料</h5>
                    </div>
                    <div class="card-block">
                        {% if form_errors(bannerItemEditForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(bannerItemEditForm) }}
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-12">
                                <div id="uploader"
                                     data-controller="uploader"
                                     data-uploader-title-value="拖曳或點選這裡，上傳圖片。"
                                     data-uploader-output-value="edit_image"
                                     data-uploader-image-value="{{ bannerItem.getImage() | default("") }}"></div>
                            </div>
                        </div>
                        {{ form_start(bannerItemEditForm) }}
                        <div class="form-group row">
                            {{ form_label(bannerItemEditForm.title, '標題', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(bannerItemEditForm.title, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(bannerItemEditForm.subtitle, '副標題', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(bannerItemEditForm.subtitle, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(bannerItemEditForm.link, '連結', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(bannerItemEditForm.link, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        {{ form_widget(bannerItemEditForm.image, {'attr': {'class': 'd-none'}}) }}
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">新增圖片</button>
                            </div>
                        </div>
                        {{ form_end(bannerItemEditForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}