{% extends "app/admin/base.html.twig" %}

{% block title %}Twitter Card 設定{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 網站設定 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> SEO 相關設定 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> Twitter Card 設定 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block app_setting_menu %}pcoded-trigger{% endblock %}
{% block app_setting_seo_menu %}pcoded-trigger{% endblock %}
{% block app_setting_twitter_card_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}Twitter Card 設定{% endblock %}
{% block content_description %}
    透過設定 <a href="https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started" target="_blank">Twitter Card</a>，
    Twitter 可以更輕易的抓取網站內容，並且在 Twitter 中顯示相對應的圖卡。<br/>
    此外您也可以透過 <a href="https://cards-dev.twitter.com/validator" target="_blank">Card Validator</a> 來檢查您的資料是否設定正確。
{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">Twitter 圖卡資訊設定</h5>
                    </div>
                    <div class="card-block">
                        {{ form_start(settingForm) }}
                        {% if form_errors(settingForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(settingForm) }}
                            </div>
                        {% endif %}
                        <h4 class="sub-title">圖卡圖片</h4>
                        <div class="row">
                            <div class="col-12">
                                <div id="uploader"
                                     data-controller="uploader"
                                     data-uploader-title-value="拖曳或點選這裡，上傳 Twitter 的圖卡圖片。"
                                     data-uploader-output-value="twitter_card_image"
                                     data-uploader-image-value="{{ twitterImage.getValue() | default("") }}"></div>
                            </div>
                        </div>
                        <h4 class="sub-title">圖卡資訊</h4>
                        <div class="form-group row">
                            {{ form_label(settingForm.title, '圖卡標題', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.title, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(settingForm.description, '圖卡敘述', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.description, {'attr': {'class': 'form-control', 'autocomplete': 'off', 'rows': 5}}) }}
                            </div>
                        </div>
                        {{ form_widget(settingForm.image, {'attr': {'class': 'form-control d-none', 'autocomplete': 'off', 'rows': 5}}) }}
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">儲存</button>
                            </div>
                        </div>
                        {{ form_end(settingForm) }}

                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
{% endblock %}