{% extends "app/admin/base.html.twig" %}

{% block title %}Banner 列表{% endblock %}

{% block search %}
{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 管理 Banner </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block banner_menu %}pcoded-trigger{% endblock %}
{% block banner_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}Banner 列表{% endblock %}
{% block content_description %}Banner 列表，您可以透過這裡查看目前所有的 Banner。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">目前所有 Banner</h5>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-xs table-framed">
                                <thead>
                                <tr>
                                    <th>名稱</th>
                                    <th>代稱</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for banner in banners %}
                                    <tr>
                                        <td>
                                            <a href="{{ url('app.admin.banners.fetch', {"uuid": banner.getUuid()}) }}">{{ banner.getName() }}</a>
                                        </td>
                                        <td>{{ banner.getAlias() }}</td>
                                        <td>
                                            <a href="{{ url("app.admin.banners.fetch", {"uuid": banner.getUuid()}) }}">查看</a>
                                            |
                                            <a href="{{ url("app.admin.banners.edit", {'uuid': banner.getUuid()}) }}">編輯</a>
                                            |
                                            <a href="{{ url("app.admin.banner_items.create", {'uuid': banner.getUuid()}) }}">新增圖片</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous {% if page == 1 %}disabled{% endif %}" id="pagination-previous">
                                        {% if page > 1 %}
                                            <a href="{{ url('app.admin.banners.list', app.request.query.all|merge({'page': page - 1})) }}" class="page-link">上一頁</a>
                                        {% else %}
                                            <a href="javascript:void(0)" class="page-link">上一頁</a>
                                        {% endif %}
                                    </li>
                                    {% for i in max(1, page-2)..min(page + 4, maxPage) %}
                                        {% if i > 0 %}
                                            <li class="paginate_button page-item {% if page == i %}active{% endif %}">
                                                <a href="{{ url('app.admin.banners.list', app.request.query.all|merge({'page': i})) }}" class="page-link">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="paginate_button page-item next {% if page == maxPage %}disabled{% endif %}" id="order-table_next">
                                        {% if page + 1 > maxPage %}
                                            <a href="javascript:void(0)" class="page-link">下一頁</a>
                                        {% else %}
                                            <a href="{{ url('app.admin.banners.list', app.request.query.all|merge({'page': page + 1})) }}" class="page-link">下一頁</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}