{% extends "app/admin/base.html.twig" %}

{% block title %}使用者：{{ appUser.getUsername() }} 登入中的裝置{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.users.list') }}"> 管理使用者 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.users.fetch', {'uuid': appUser.getUuid()}) }}"> {{ appUser.getUsername() }} </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 登入中的裝置 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block user_menu %}pcoded-trigger{% endblock %}
{% block user_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}使用者：{{ appUser.getUsername() }} 登入中的裝置{% endblock %}
{% block content_description %}檢視使用者登入中的裝置{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">
                            用戶列表
                        </h5>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-xs table-framed">
                                <thead>
                                <tr>
                                    <th>IP</th>
                                    <th>登入時間</th>
                                    <th>使用裝置</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for loggedInDevice in loggedInDevices %}
                                    <tr>
                                        <td>{{ loggedInDevice.getClientIp() }}</td>
                                        <td>{{ loggedInDevice.getCreateAt() | date("Y-m-d H:i:s P") }}</td>
                                        <td>{{ loggedInDevice.getUserAgent() }}</td>
                                        <td>
                                            <a onclick="return confirm('確定要強制登出這個裝置嗎？');" href="{{ url('app.admin.users.logged_in_devices.force_logout', {'session': loggedInDevice.getSession()}) }}">
                                                登出這個裝置
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <ul class="pagination justify-content-center">
                        <li class="paginate_button page-item previous {% if page == 1 %}disabled{% endif %}" id="pagination-previous">
                            {% if page > 1 %}
                                <a href="{{ url("app.admin.user.logged_in_devices.list", app.request.query.all|merge({'page': page - 1, "uuid": appUser.getUuid()})) }}" class="page-link">上一頁</a>
                            {% else %}
                                <a href="javascript:void(0)" class="page-link">上一頁</a>
                            {% endif %}
                        </li>
                        {% for i in max(1, page - 4)..min(page + 4, maxPage) %}
                            {% if i > 0 %}
                                <li class="paginate_button page-item {% if page == i %}active{% endif %}">
                                    <a href="{{ url("app.admin.user.logged_in_devices.list", app.request.query.all|merge({'page': i, "uuid": appUser.getUuid()})) }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="paginate_button page-item next {% if page >= maxPage %}disabled{% endif %}" id="order-table_next">
                            {% if page + 1 > maxPage %}
                                <a href="javascript:void(0)" class="page-link">下一頁</a>
                            {% else %}
                                <a href="{{ url("app.admin.user.logged_in_devices.list", app.request.query.all|merge({'page': page + 1, "uuid": appUser.getUuid()})) }}" class="page-link">下一頁</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-body end -->
{% endblock %}