{% extends "app/admin/base.html.twig" %}

{% block title %}設定綠界金流參數{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 網站設定 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 設定綠界金流參數 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block app_setting_menu %}pcoded-trigger{% endblock %}
{% block app_setting_payment_menu %}pcoded-trigger{% endblock %}
{% block app_setting_payment_ecpay_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}設定綠界金流{% endblock %}
{% block content_description %}設定綠界金流所需要的 MerchantID, HashKey 及 HashIV。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">設定綠界金流</h5>
                    </div>
                    <div class="card-block">
                        {{ form_start(settingForm) }}
                        {% if form_errors(settingForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(settingForm) }}
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            {{ form_label(settingForm.api_url, '金流 API 位置', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.api_url, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(settingForm.merchant_id, '商店編號 / Merchant ID', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.merchant_id, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(settingForm.hash_key, 'Hash Key', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.hash_key, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(settingForm.hash_iv, 'Hash IV', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.hash_iv, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">儲存</button>
                            </div>
                        </div>
                        {{ form_end(settingForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}