{% extends "app/admin/base.html.twig" %}

{% block title %}被 {{ appUser.getUsername() }} 邀請的用戶{% endblock %}

{% block user_menu %}pcoded-trigger{% endblock %}
{% block user_management_menu %}active pcoded-trigger{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.users.list') }}"> 管理使用者 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.users.fetch', {'uuid': appUser.getUuid()}) }}"> {{ appUser.getUsername() }} </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 被邀請人 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content_title %}被邀請人{% endblock %}
{% block content_description %}透過使用者: {{ appUser.getUsername() }} 的推薦連結註冊的用戶{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-lg-12">
                {% set userListParams = {'users': referrals} %}
                {% include "app/admin/components/user-list.html.twig" with userListParams %}
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <ul class="pagination justify-content-center">
                        <li class="paginate_button page-item previous {% if page == 1 %}disabled{% endif %}" id="pagination-previous">
                            {% if page > 1 %}
                                <a href="{{ url("app.admin.users.list_referrals", app.request.query.all|merge({'page': page - 1, uuid: appUser.getUuid()})) }}" class="page-link">上一頁</a>
                            {% else %}
                                <a href="javascript:void(0)" class="page-link">上一頁</a>
                            {% endif %}
                        </li>
                        {% for i in max(1, page - 4)..min(page + 4, maxPage) %}
                            {% if i > 0 %}
                                <li class="paginate_button page-item {% if page == i %}active{% endif %}">
                                    <a href="{{ url("app.admin.users.list_referrals", app.request.query.all|merge({'page': i, uuid: appUser.getUuid()})) }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="paginate_button page-item next {% if page >= maxPage %}disabled{% endif %}" id="order-table_next">
                            {% if page + 1 > maxPage %}
                                <a href="javascript:void(0)" class="page-link">下一頁</a>
                            {% else %}
                                <a href="{{ url("app.admin.users.list_referrals", app.request.query.all|merge({'page': page + 1, uuid: appUser.getUuid()})) }}" class="page-link">下一頁</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-body end -->
{% endblock %}