{% extends "app/admin/base.html.twig" %}

{% block title %}週邊服務列表{% endblock %}

{% block search %}
{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="/admin"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 管理週邊服務 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block service_menu %}pcoded-trigger{% endblock %}
{% block service_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}週邊服務列表{% endblock %}
{% block content_description %}網站週邊服務的列表，如果您不確定，請不要更動本區的設定。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">目前所有週邊服務</h5>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-xs table-framed">
                                <thead>
                                <tr>
                                    <th style="width: 360px;">UUID</th>
                                    <th>服務名稱</th>
                                    <th>服務敘述</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for service in services %}
                                    <tr>
                                        <th>
                                            <a href="{{ url("app.admin.services.fetch", {'uuid': service.getUuid()}) }}">
                                                {{ service.getUuid() }}
                                            </a>
                                        </th>
                                        <td>{{ service.getName() }}</td>
                                        <td>{{ service.getDescription() | slice(0, 32) }}</td>
                                        <td>
                                            <a href="{{ url("app.admin.services.fetch", {"uuid": service.getUuid()}) }}">查看</a>
                                            |
                                            <a href="{{ url("app.admin.services.edit", {'uuid': service.getUuid()}) }}">編輯</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}