{% extends "app/website/adminty.html.twig" %}

{% block title %}更改手機號碼{% endblock %}

{% block content_title %}更改手機號碼{% endblock %}
{% block content_description %}可以在這裡更改您的手機號碼，我們將會寄送驗證碼給您，確認正確後就會更新您的手機號碼。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">更新手機號碼</h5>
                    </div>
                    <div class="card-block">
                        {{ form_start(updateMobileForm) }}
                        {% if form_errors(updateMobileForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(updateMobileForm) }}
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            {{ form_label(updateMobileForm.mobile, '新手機號碼', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(updateMobileForm.mobile, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">更新</button>
                            </div>
                        </div>
                        {{ form_end(updateMobileForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}
