<html lang="zh">
<head>
    <title>驗證碼已經過期</title>
</head>
<body>
<script>
    alert("驗證碼已經過期。");
    window.location.href = "{{ url('app.website.profile.update.mobile') }}";
</script>
</body>
</html>