{% extends "app/website/adminty.html.twig" %}

{% block title %}個人資料頁面{% endblock %}

{% block content_title %}個人資料頁面{% endblock %}
{% block content_description %}這裡顯示個人資料，您也可以編輯您的個人資料{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-block" style="display: flex; justify-content: center">
                        <div id="qrcode"></div>
{#                        <a href="{{ url("app.admin.punch_record.check", {'code': punchJWT}) }}">Test</a>#}
                    </div>
                </div>
            </div>
        </div>
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">使用者資料</h5>
                    </div>
                    <div class="card-block">
                        {#<div class="form-group row">
                            <label class="col-lg-3 col-xl-2" for="avatar">用戶頭像</label>
                            <div class="col-lg-9 col-xl-10">
                                {% if appUser.getAvatar() | length <= 0 %}
                                    無頭像
                                {% else %}
                                    <img id="avatar" src="{{ appUser.getAvatar() }}" height="120" alt="無頭像">
                                {% endif %}
                            </div>
                        </div>#}
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">帳號</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getUsername() }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">Email</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getEmail() }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">手機</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getMobile() }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">推薦連結</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ url("app.website.referral_code", {'referralCode': appUser.getReferralCode()}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2" for="referrer">推薦人</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getReferrer().getUsername() | default("無推薦者") }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">創建時間</label>
                            <div class="col-lg-9 col-xl-10">
                                {{ appUser.getCreateAt() | date("Y-m-d H:i:s (P)") }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2">帳號到期時間</label>
                            <div class="col-lg-9 col-xl-10">
                                {% if appUser.isNeverExpireUser() %}永久用戶
                                {% else %}{{ appUser.getExpireTime() | date("Y-m-d") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <a href="{{ url('app.website.profile.edit') }}">
                                    <button class="btn btn-warning">編輯個人資料</button>
                                </a>
                                <a href="{{ url('app.website.profile.update.email') }}">
                                    <button class="btn btn-info">更新電子郵件</button>
                                </a>
                                <a href="{{ url('app.website.profile.update.mobile') }}">
                                    <button class="btn btn-info">更新手機號碼</button>
                                </a>
                                <a href="{{ url('app.website.profile.update_password') }}">
                                    <button class="btn btn-danger">更新密碼</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous"></script>
    <script>
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: "{{ url("app.admin.punch_record.check", {'code': punchJWT}) }}",
            width: '280',
            height: '280',
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
    </script>
{% endblock %}