{% extends "app/admin/base.html.twig" %}

{% block title %} Facebook Card 設定{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.index') }}"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 網站設定 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> SEO 相關設定 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> Facebook Card 設定 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block app_setting_menu %}pcoded-trigger{% endblock %}
{% block app_setting_seo_menu %}pcoded-trigger{% endblock %}
{% block app_setting_facebook_card_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}Facebook Card 設定{% endblock %}
{% block content_description %}
    透過設定 <a href="https://developers.facebook.com/docs/sharing/webmasters/" target="_blank">Facebook Card</a> ，
    Facebook 可以更輕易的抓取網站內容，並且在 Facebook 中顯示相對應的圖卡。<br/>
    此外您也可以透過 <a href="https://developers.facebook.com/tools/debug/" target="_blank">分享偵錯工具</a> 來檢查您的資料是否設定正確。
{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">Facebook 圖卡資訊設定</h5>
                    </div>
                    <div class="card-block">
                        {% if form_errors(settingForm) %}
                            <div class="alert alert-danger background-danger">
                                {{ form_errors(settingForm) }}
                            </div>
                        {% endif %}
                        <h4 class="sub-title">圖卡圖片</h4>
                        <div class="row">
                            <div class="col-12">
                                <div id="uploader"
                                     data-controller="uploader"
                                     data-uploader-title-value="拖曳或點選這裡，上傳 Facebook 的圖卡圖片。"
                                     data-uploader-output-value="facebook_card_image"
                                     data-uploader-image-value="{{ facebookImage.getValue() | default("") }}"></div>
                            </div>
                        </div>
                        {{ form_start(settingForm) }}

                        <h4 class="sub-title">圖卡資訊</h4>
                        <div class="form-group row">
                            {{ form_label(settingForm.title, '圖卡標題', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.title, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(settingForm.description, '圖卡敘述', {'label_attr': {'class': 'col-lg-3 col-xl-2 col-form-label'}}) }}
                            <div class="col-lg-9 col-xl-10">
                                {{ form_widget(settingForm.description, {'attr': {'class': 'form-control', 'autocomplete': 'off', 'rows': 5}}) }}
                            </div>
                        </div>
                        {{ form_widget(settingForm.image, {'attr': {'class': 'form-control d-none', 'autocomplete': 'off', 'rows': 5, 'readonly': 'readonly'}}) }}
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <button class="btn btn-primary">儲存</button>
                            </div>
                        </div>
                        {{ form_end(settingForm) }}
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}