<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    <!-- Index Page -->
    <url>
        <loc>{{ url('app.website.index') }}</loc>
        <lastmod>{{ "now"|date("Y-m-d\TH:i:sP") }}</lastmod>
    </url>
    <!-- Login Page -->
    <url>
        <loc>{{ url('app.auth.login') }}</loc>
    </url>
    <!-- Forget Password Page -->
    <url>
        <loc>{{ url('app.auth.forget_password.method.username') }}</loc>
    </url>
    <url>
        <loc>{{ url('app.auth.forget_password.method.mobile') }}</loc>
    </url>
    <!-- Register Page -->
    <url>
        <loc>{{ url('app.auth.register') }}</loc>
    </url>
</urlset>