{% extends "app/admin/base.html.twig" %}

{% block title %}週邊服務詳細資料{% endblock %}

{% block breadcrumb %}
    <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="/admin"> <i class="feather icon-home"></i> </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="{{ url('app.admin.services.list') }}"> 週邊服務列表 </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="javascript:void(0)"> 週邊服務詳細資料 </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block service_menu %}pcoded-trigger{% endblock %}
{% block service_management_menu %}active pcoded-trigger{% endblock %}

{% block content_title %}週邊服務：{{ service.getName() }} 的詳細資料{% endblock %}
{% block content_description %}週邊服務詳細資料，如果您不確定，請不要更動本區的設定。{% endblock %}

{% block body %}
    <!-- Page-body start -->
    <div class="page-body">
        <!-- Row start -->
        <div class="row">
            <!-- Multiple Open Accordion start -->
            <div class="col-xl-9 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">週邊服務基本資料</h5>
                    </div>
                    <div class="card-block">
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2 col-form-label" for="uuid">UUID</label>
                            <div class="col-lg-9 col-xl-10">
                                <input id="uuid" type="text" class="form-control" readonly="readonly" value="{{ service.getUuid() }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2 col-form-label" for="name">服務名稱</label>
                            <div class="col-lg-9 col-xl-10">
                                <input id="name" type="text" class="form-control" readonly="readonly" value="{{ service.getName() }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-xl-2 col-form-label" for="description">服務敘述</label>
                            <div class="col-lg-9 col-xl-10">
                                <textarea type="text" id="description" class="form-control" rows="5" readonly="readonly">{{ service.getDescription() }}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2"></div>
                            <div class="col-lg-9 col-xl-10">
                                <a href="{{ url("app.admin.services.list") }}">
                                    <button class="btn btn-secondary">返回週邊服務列表</button>
                                </a>
                                <a href="{{ url("app.admin.services.edit", {'uuid': service.getUuid()}) }}">
                                    <button class="btn btn-success">編輯此週邊服務</button>
                                </a>
                                <a href="{{ url("app.admin.services.revoke_token", {'uuid': service.getUuid()}) }}">
                                    <button onclick="return confirm('確定要重新產生 API Token 嗎？使用原 Token 的外部服務有可能因此兒無法正常運行。')"
                                            class="btn btn-warning">重新產生 API Token</button>
                                </a>
                                <a href="{{ url('app.admin.services.delete', {'uuid': service.getUuid()}) }}">
                                    <button onclick="return confirm('確定要刪除嗎？使用此 API Token 的服務將無法再呼叫網站提供的 API。')"
                                            class="btn btn-danger">刪除此週邊服務</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multiple Open Accordion ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Page-body end -->
{% endblock %}